<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.3.7"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.3.7">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>pipeline job example</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.65">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;Compile&apos;) {
            steps {
                    echo &quot;Compiled Successfully!!&quot;;
            }
        }
        
        stage(&apos;JUnit&apos;) {
            steps {
                    echo &quot;JUnit Passed Successfully!&quot;;
            }
        }
        
        stage(&apos;Quality-Gate&apos;) {
            steps {
                    echo &quot;SonarQube Quality Gate passed successfully!!&quot;; 
                /*sh exit (&quot;1&quot;);*/
            }
        }
        
        stage(&apos;Deploy&apos;) {
            steps {
                  echo &quot;Pass!&quot;;
            }
        }
        
    }
    post {
        always {
            echo &apos;This will always run&apos;
        }
        success {
            echo &apos;This will run only if successful&apos;
        }
        failure {
            echo &apos;This will run only if failed&apos;
        }
        unstable {
            echo &apos;This will run only if the run was marked as unstable&apos;
        }
        changed {
            echo &apos;This will run only if the state of the Pipeline has changed&apos;
            echo &apos;For example, if the Pipeline was previously failing but is now successful&apos;
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>